.header {
  display: flex;
  align-items: center;
}

.logo img {
  width: 120px;
  margin-right: 35px;
  position: relative;
  top: 13px;
}

ul {
  margin-top: 13px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 31px;
  font-size: 16px;
  font-weight: 500;
  font-family: Helvetica Neue, sans-serif;
}

.watch:before {
  margin-right: 3px;
  content: "•";
  font-size: 13pt;
  color: red;
}

i {
  margin-left: 30px;
  font-weight: 100;
}
